
node_modules/
/.pnp
.pnp.js


dist/
dist-ssr/
build/
*.local
.vite/

# Логи (Logs)
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


.env
.env.*
!.env.example


*.tsbuildinfo
.eslintcache
.stylelintcache


.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


coverage/
*.lcov
.nyc_output/


.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
[Dd]esktop.ini